body {
  .createForm {
    width: 560px;
    max-width: 560px;
    @media screen and (max-width: 1024px) {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
    }
    form {
      width: 100%;
      padding-top: 20px;
      position: relative;
      .textSong {
        -webkit-appearance: none;
        font-size: $bigText;
        font-family: OSLight;
        color: $black;
        outline: none;
        border: none;
        resize: none;
        max-height: 200px;
        height: 90px;
        width: 100%;
        text-overflow: ellipsis;
        @media screen and (max-width: 320px){
          margin-top: 5px;
        }
        &:-moz-placeholder {
          color: $lightGrayPl;
          font-family: OSLight;
          font-size: $bigText;
        }
        &::-moz-placeholder {
          color: $lightGrayPl;
          font-family: OSLight;
          font-size: $bigText;
        }
        &:-ms-input-placeholder {
          color: $lightGrayPl;
          font-family: OSLight;
          font-size: $bigText;
        }
        &::-webkit-input-placeholder {
          color: $lightGrayPl;
          font-family: OSLight;
          font-size: $bigText;
        }
      }
      input {
      width: 100%;
        outline: none;
        -webkit-appearance: none;
        &.textInput {
          border: none;
        }
        &.nameSong {
          @include webkitPlaceholder($lightGrayPl, $veryBigText, OSLight);
          @include mozPlaceholder($lightGrayPl, $veryBigText, OSLight);
          font-family: OSLight;
          font-size: $veryBigText;
          color: $black;
        }
        &.linkInput {
          @include webkitPlaceholder($lightGrayPl, $Text + 0.2, OSLight);
          @include mozPlaceholder($lightGrayPl, $Text + 0.2, OSLight);
          padding: 5px 10px 5px 37px;
          font-size: $Text + 0.2;
          border: 1px solid $lightGrayPl;
          &:invalid:not(:placeholder-shown):not(:focus) {
            border: 1px solid $loaderRed;
          }
          &:valid:not(:placeholder-shown):not(:focus) {
            border: 1px solid $loaderGreen;
          }
        }
        &.iTunesLink {
          background: url("../img/itunes.png") no-repeat 6px;
          background-size: 5%;
          margin-bottom: 30px;
        }
        &.GPLink{
          background: url("../img/googleplay.png") no-repeat 8px;
          background-size: 4%;
        }

      }
      label.imgUpload {
        display: flex;
        position: relative;
        overflow: hidden;
        height: 530px;
        line-height: 2em;
        background-color: $backCover;
        margin-top: 10px;
        .previewImg {
          width: 100%;
          height: auto;
        }
        .imgUploadBtn {
          display: block;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          text-align: center;
          font-size: $coverText;
          color: $lightGrayPl;
          font-family: OSExtrabold;
          text-transform: uppercase;
          span.sizes {
            display: block;
            padding-top: 5px;
            font-family: OSRegular;
            font-size: $bigText;
            text-transform: lowercase;
          }
        }
        input[type=file]{
          position: absolute;
          top: 0;
          opacity: 0;
        }
      }
      label.musicUpload {
        display: flex;
        position: relative;
        overflow: hidden;
        height: 40px;
        line-height: 2em;
        background-color: $backCover;
        margin-top: 30px;
        margin-bottom: 30px;
        .musicUploadBtn {
          display: block;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          text-align: center;
          font-size: $bigText;
          color: $lightGrayPl;
          font-family: OSExtrabold;
          text-transform: uppercase;
          img {
            height: 25px;
            width: auto;
            opacity: .3;
            margin-top: 7px;
          }

        }
        span#loader {
          position: absolute;
          height: 100%;
          background-color: $loaderRed;
          width: 0%;
          top: 0;
          left: 0;
          display: flex;
          transition: all .4s;
          color: $white;
          justify-content: center;
          align-items: center;
          font-size: $Text;
          font-family: OSRegular;
        }
        input[type=file]{
          position: absolute;
          top: 0;
          opacity: 0;
        }
      }
    }
  }
}
