body {
  margin: 0 !important;
  .indexBtn {
    .containerBtn {
      display: flex;
      height: 95vh;
      img {
        display: block;
        &.logo {
          width: 220px;
          height: auto;
          margin-bottom: 20px;
        }
        &.record {
          width: 85px;
          height: auto;
          opacity: 0.8;
        }
      }
    }
  }
  footer {

    .containerFooter {
      display: flex;
      a.linkFooter {
        color: $lightGray;
        text-decoration: none;
      }
    }
  }
}