body {
  .coverContainer {
    height: 100vh;
    position: fixed;
    left: 55px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .textContainer {
    display: flex;
    div.nameTrack {
      h1 {
        font-size: $veryBigText;
        text-transform: uppercase;
        font-family: OSExtrabold;
        color: $black;
        display: inline-block;
        position: relative;
        &::before {
          content: '';
          display: inline-block;
          position: relative;
          background-image: url("../../assets/img/musicnote.ico");
          background-size: cover;
          width: 37px;
          height: 37px;
          top: 5px;
          margin-right: 10px;
        }
      }
    }
    div.timer {
      margin-top: -20px;
      @media screen and (max-width: 736px) {
        margin-top: -10px;
      }

      .audioI {
        position: relative;
        span.audioTimer {
          font-size: $bigText;
          font-family: OSSemibold;
          color: $black;
          padding-left: 30px;
          @media screen and (max-width: 1024px) and (orientation: landscape){
            padding-left: 27px;
          }
          @media screen and (max-width: 992px){

          }
          @media screen and (max-width: 560px) and (orientation: portrait) {
            padding-left: 25px;
          }
        }
        .playStop {
          position: absolute;
          top: 6px;
          left: 0;
          @media screen and (max-width: 992px) {
            top: 4px;
          }
          @media screen and (max-width: 992px) and (orientation: portrait){
            top: 6px;
          }
          @media screen and (max-width: 736px) {
            top: 3px;
          }
          @media screen and (max-width: 560px) {
            top: 6px;
          }
          @media screen and (max-width: 560px) and (orientation: portrait) {
            top: 4px;
          }
          @media screen and (max-width: 320px) and (orientation: portrait) {
            top: 3px;
          }
          img {
            width: 20px;
            height: auto;
            @media screen and (max-width: 1024px){
              width: 17px;
            }
            @media screen and (max-width: 1024px) and (orientation: portrait) {
              width: 20px;
            }
            @media screen and (max-width: 992px) and (orientation: portrait){

            }
            @media screen and (max-width: 560px) and (orientation: portrait) {
              width: 16px;
            }
            @media screen and (max-width: 320px) and (orientation: portrait) {
              width: 14px;
            }
            &.imgPause {
              
            }
          }
        }
      }

    }
    div.textTrack {
      p {
        font-family: OSLight;
        font-size: $bigText;
        color: $black;
      }
    }
    div.count {
      span {
        font-size: $bigText;
        font-family: OSSemibold;
        color: $black;
        display: inline-block;
        position: relative;
        &::before {
          content: '';
          display: inline-block;
          position: relative;
          background-image: url("../../assets/img/headphone.png");
          background-size: cover;
          width: 22px;
          height: 22px;
          top: 2px;
          margin-right: 10px;
        }
      }
    }
  }
}