/* fonts */
@font-face {
  font-family: OSLight;
  src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
  font-family: OSRegular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: OSSemibold;
  src: url('../fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: OSBold;
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: OSExtrabold;
  src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}
/*vars*/
$lightGray: #cecece;
$lightGrayPl: #c9c9c9;
$white: #fff;
$black: #000;
$loaderGreen: #69EF8B;
$loaderRed: #FF3B3B;
$opacityBlack: rgba(0,0,0,.7);
$veryBigText: 2.8125rem;
$bigText: 1.4375rem;
$coverText: 2.2rem;
$Text: 1rem;
$backCover: #f7f7f7;


/*classes*/
html {
  font-size: 16px;
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    font-size: 14px;
  }
  @media screen and (max-width: 992px) and (orientation: landscape) {
    font-size: 12px;
  }
  @media screen and (max-width: 736px) and (orientation: landscape) {
    font-size: 10px;
  }
  @media screen and (max-width: 560px) {
    font-size: 12px;
  }
  @media screen and (max-width: 320px) {
    font-size: 10px;
  }

}
body {
  font-size: 1rem;
  font-family: OSRegular;
}

.blackBtn {
  position: absolute;
  top: 30px;
  height: 42px;
  font-family: OSSemibold;
  font-size: $bigText;
  color: $black;
  border-radius: 5px;
  border: 2px solid $black;
  text-transform: uppercase;
  background: transparent;
  transition: all .4s;
  cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $white;
      background: $black;
    }
    &.publishBtn {
      right: -174px;
      width: 144px;
    }
    &.buyBtn {
      right: -30px;
      top: 42px;
      width: 76px;
    }
    &:disabled {
      border: 2px solid $lightGray;
      color: $lightGray;
      &:hover {
        color: $lightGray;
        background: transparent;
      }
    }
}
/*scroll*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $black;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}